{% extends 'store/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3>Update Profile</h3>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="mb-4">
                            <legend class="border-bottom mb-4">User Information</legend>
                            {{ user_form|crispy }}
                        </fieldset>
                        <fieldset class="mb-4">
                            <legend class="border-bottom mb-4">Customer Information</legend>
                            {{ customer_form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Update</button>
                            <a href="{% url 'home' %}" class="btn btn-outline-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}